<div class="span6 offset3 ice-box">

	<h1 class="awesome-sauce">
		Is there life on Mars
	</h1>

	<br/>

	<h2>
		Such fun, so Saturday. Wow.
	</h2>

	<br/>
	
	<%= link_to 'Squeeze', '#', :class => 'btn btn-warning btn-large' %>

</div>