<% @pics.each do |pic| %>
	<div class="ice-box span3 text-center">

		<h3>
		<%= pic.title %>
		</h3>

		<%= image_tag pic.image %>

		<h3>
		<%= pic.message %>
		</h3>

		<h3>
		<%= pic.who %>
		</h3>

	</div>
<% end %>